@import './flex.css';


.footer-note {
    position: fixed;
    bottom: 2%;
    left: 35%;
}

.main-section {
    width: 60%;
    margin: auto;
    border: 1px solid black;
    text-align: center;
    padding: 1rem;
}

.topic-list>li {
    display: inline;
}

.btn-nav {
    text-decoration: none;
    outline: none;
    border-radius: 1rem;
    border: 1px solid black;
    padding: 0.5rem;
}

.btn-nav:hover {
    border: 1px solid white;
    color: white;
    background-color: black;
}